html
{
	font-family: consolas, verdana;
	background-color: #555555;
	color: white;
}

a:link
{
	color: #55FFFF;
}

.TitleBar
{
	text-align:center;
}

.ImgHolder
{
	margin:auto;
	margin-top: 1em;
	margin-bottom: 1em;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	/*text-align:center;
	
	vertical-align:top;*/

}

.ImgHolder img
{
    width: 250px;
	border-radius: 30px;
}

.NavBar
{
	text-align:center;
	font-size: 2em;
}



@media screen and (max-width: 1000px)
{
	.ImgHolder img
	{
		width: 100%;
	}
}