<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href = "css/ImgGalleryCss.css">
</head>
<body>
    <h1 class = "TitleBar">My Image Gallery</h1>
    <div class = "NavBar">
        
    [NAVGOESHERE]
    </div>
    <div class = "ImgHolder">
    [IMGSGOHERE]
    </div>
    <div class = "NavBar">
       
    [NAVGOESHERE]
    </div>
</body>
</html>